include ../partials/header.pug
h1.title.title-form.has-text-centered Qui prend quoi ?
h2.title= name
h3.title Créé par #{author}
script.
  party = !{JSON.stringify(party)}
  if (typeof party !== "undefined") {
    localStorage.setItem(location.href, party.name);
  }

form.newParty__fields.container(method="post" action=`/party/${ _id }/items`)
  div.field
    label.label(for="name") Name :
    div.control
      input.input(name="name" id="name" required minlength="3" placeholder="Name")
  div.field
    label.label(for="user") User :
    div.control
      input.input(name="user" id="user" required minlength="3" placeholder="User")
  button#create-item.button.is-success(type="submit" ) Creer un item
div.newParty__fields.container.is-centered
  div.field
    label.label(for="url") Partagez l'événement
    div.control
      input.input(id="url" value=`${url}` data-share-url=`${url}` data-clipboard=`${name}` data-share-title=`${url}` data-share-text=`${author} vous invite a rejoindre l'evenement ${name}`)
  div
  div.buttons.field
    button#share.button.is-info Partager l'evenement 
div.box
  each item in items
    form(method="delete" action=`/item/${ _id }/${ item._id }`)
      ul.list.row.item
        li.list-item.is-size-4= `${ item.user }`
        li.list-item.is-size-4= `${ item.name }`
        button.button.is-warning(type="submit") Supprimer